@theme
{
    --obsidian-color-base-50: var(--color-neutral-50);
    --obsidian-color-base-100: var(--color-neutral-100);
    --obsidian-color-base-200: var(--color-neutral-200);
    --obsidian-color-base-300: var(--color-neutral-300);
    --obsidian-color-base-400: var(--color-neutral-400);
    --obsidian-color-base-500: var(--color-neutral-500);
    --obsidian-color-base-600: var(--color-neutral-600);
    --obsidian-color-base-700: var(--color-neutral-700);
    --obsidian-color-base-800: var(--color-neutral-800);
    --obsidian-color-base-900: var(--color-neutral-900);
    --obsidian-color-base-950: var(--color-neutral-950);

    --obsidian-color-base: var(--color-white);
    --obsidian-color-black: var(--color-black);
    --obsidian-color-white: var(--color-white);
    --obsidian-color-primary: var(--color-sky-600);
    --obsidian-color-transparent: transparent;
}

@theme
{
    --obsidian-text-color: var(--obsidian-color-base-600);
    --obsidian-text-color-highlight: var(--obsidian-color-base-900);
    --obsidian-text-color-primary: var(--obsidian-color-base);
    --obsidian-border-color: var(--obsidian-color-base-200);
    --obsidian-background-color: var(--obsidian-color-base);
}

@layer theme
{
    .dark
    {
        --obsidian-text-color: var(--obsidian-color-base-200);
        --obsidian-text-color-highlight: var(--obsidian-color-base);
        --obsidian-text-color-primary: var(--obsidian-color-base);
        --obsidian-border-color: var(--obsidian-color-base-800);
        --obsidian-background-color: var(--obsidian-color-base-900);
    }
}